.user-msg {
    background-color: lightgray;
    padding: .2em .5em;
    position: fixed;
    bottom: 0;
    right: 1em;
    color: $clr4;
    border-radius: 2px;

    &.success {
        background-color: #0a9396;
    }

    &.error {
        background-color: #ae2012;
    }

    button {
        font-size: .5em;
        float: right;
        margin: .5em;
    }
}