.on-wheels {
    color: #0c625d;
}

.box-game {
    color: #472e5b;
}

.art {
color: blue;
}

.baby {
    color: #692b17;
}

.doll {
    color: purple;
}

.puzzle {
    color: lightblue;
}

.outdoor {
    color: coral;
}

.battery-powered{
    color: darkgrey;
}