@font-face {
    font-family: Livvic-Bold;
    src: url("./src/assets/font/Livvic-Bold.ttf");
}

@font-face {
    font-family: Livvic-MediumItalic;
    src: url("./src/assets/font/Livvic-MediumItalic.ttf");
}

@font-face {
    font-family: Livvic-SemiBold;
    src: url("./src/assets/font/Livvic-SemiBold.ttf");
}